@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

$veryDarkBlue: hsl(217, 19%, 35%);
$desaturatedDarkBlue: hsl(214, 17%, 51%);
$Grayishblue: hsl(212, 23%, 69%);
$lightGrayBlue: hsl(210, 46%, 95%);

body {
  font-family: "Manrope", sans-serif;
  background-color: $lightGrayBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 13px;
  font-weight: 500;
  min-height: 100vh;
}

.card {
  margin: 10%;
  width: 700px;
  height: 280px;
  display: flex;
  background-color: white;
  border-radius: 2vh;

  .card-img {
    flex: 1 1 40%;

    img {
      height: 100%;
      max-width: 100%;
      border-radius: 2vh 0 0 2vh;
      object-fit: cover;
      object-position: 0% -50%;
    }
  }

  .card-text {
    padding: 5%;
    flex: 1 1 60%;

    h2 {
      color: $veryDarkBlue;
    }

    .card-text-p {
      color: $Grayishblue;
      margin-top: 3%;
    }

    .card-text-quote-box {
      margin-top: 5%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      position: relative;

      .card-text-quote-picture img {
        border-radius: 50%;
        height: 50px;
        width: auto;
        flex: 1 1 10%;
      }

      .card-text-quote {
        margin-left: 3%;
        flex: 1 1 85%;

        .card-text-quote-name {
          font-weight: bold;
          color: $veryDarkBlue;
        }

        .card-text-quote-date {
          margin-top: 3%;
          color: $Grayishblue;
        }
      }

      .card-text-quote-share {
        background-color: $lightGrayBlue;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        flex: 1 1 15%;
        display: flex;
        justify-content: center;
        align-items: center;

        .card-text-quote-share {
          height: 40px;
          width: 40px;
          object-fit: fill;
        }
      }

      .share-box {
        position: absolute;
        left: 200px;
        bottom: 65px;
        width: 250px;
        background-color: $veryDarkBlue;
        border-radius: 2vh;
        display: flex;
        justify-content: space-evenly;
        padding: 5%;
        text-transform: uppercase;
        color: $Grayishblue;
        font-weight: 200;
        letter-spacing: 6px;
      }

      .share-box:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 20px 0 20px;
        border-color: $veryDarkBlue transparent transparent transparent;
        content: "";
        position: absolute;
        right: 105px;
        top: 50px;
      }
    }
  }

  .attribution {
    background-color: $veryDarkBlue;
    position: absolute;
    margin-top: auto;
  }
}
